.modal {
    display: none;
    position: fixed;
    z-index: 1; /*Fica acima de tudo*/
    left: 0;
    top: 0;    
       
    /*overflow: auto; Permite rolar caso a imagem seja maior que a tela */
    /* padding-top: 60px; */
    
}

.modal-projects, .modal-publications {  
    width: 100%;
    height: 0;
    border: none;
    margin: 5rem 0 0 0;
}

.modal-content {
    display: flex; 
    justify-content: center;
    background-color: rgba(30, 30, 30, 0.800);   
    margin: 4rem auto;
    padding: 20px;    
    width: 100%; 
    position: relative;    
    text-align: center;
    overflow: hidden; /* Para evitar que elementos ultrapassem os limites */
}

.modal-open {
    overflow: hidden;    
}


/* Imagem dentro do modal */

.modal-img {     
    width: 100%; 
    max-width: 600px; /* Define um tamanho máximo */    
    object-fit: cover;      
    max-height: 70dvh; /* Limita a altura da imagem */
    margin-top: 1rem;  
    margin-bottom: 1rem;
    border-radius: 4px;
}


/* Fechar modal */

.close {    
    position: absolute;
    top: 8px;
    right: 18px;
    color: #aaa;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
    height: auto;
}

.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

/* Descrição */

.modal-description {
    font-size: 16px;
    color: #f0e3e3;
    margin-top: 15px;
    padding: 10px; 
     
}

.description__publications {
    font-family: var(--ff-texto);
    font-size: var(--fs-texto);
    font-weight: var(--fw-texto);
}

.description__publications span {
    font-weight: bold;
    color: var(--cor-fonte-main);
}
.description__publications a {
    color: var(--cor-fonte-main);
    text-decoration: none;
}

/* Estilos específicos para PUBLICATIONS */
.modal.modal-publications .modal-content {
    width: 80%;
    background-color: white;
    border: 2px solid #2E1B2B ;    
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    
}

.modal .modal-publications  {    
    max-height: 60dvh;
    
}

.modal.modal-publications .modal-description {
    font-size: 18px;
    color: #2E1B2B;
}
/* Estilo geral do contêiner da descrição */
#modalDescription {
    margin-top: 1rem;    
    font-family: var(--ff-texto);
    font-size: var(--fs-texto);
    font-weight: var(--fw-texto);    
    text-align: justify; /* Alinhamento do texto */
    line-height: 1.3; /* Espaçamento entre linhas */
    
}

/* Estilo para links (ancoras) dentro da descrição */
#modalDescription a {
    color: var(--cor-fonte-main);
    text-decoration: none;
    font-weight: bold; /* Negrito */
}

#modalDescription a:hover {
    text-decoration: none; /* Adiciona sublinhado no hover */
    color: var(--cor-main); /* Cor do link no hover */
}

@media screen and (max-width: 768px) {
    .modal-content {
        display: block;
        overflow: auto;
        margin-top: 0;
    }     

    .modal-img {
        width: 85%;
        height: auto;
    }

    #modalDescription{        
        width: 100%;        
    }

}

@media screen and (max-width: 430px) {
    .modal-content {
        display: block;
        margin-top: 40%;
        overflow: auto;
    }   
    
    .modal-img {
        width: 80%;
    }

    #modalDescription{        
        font-size: 0.9rem;        
    }

}


@media screen and (max-width: 375px) {
    .modal-content {
        display: block;
        overflow: auto;
        margin-top: 50%;
    }   

}