header {
    position: relative;
    width: 100%; /* Para ocupar toda a largura */

}

.cabecalho {
    display: flex;
    justify-content: center;    
    /*border: 2px solid red;*/
}

.card__nome {
    display:inline-block;
    justify-content: flex-end;
    width: 160px;
    
    padding: 2.1em 1.2em 10px;
    margin-left: 3em;
    
    font-family: 'Nexa';
    color: var(--cor-fonte-main);
    background: var(--cor-main);
    
}

.card__menu_link {  
    position: absolute;
    padding-top: 1.5em;
    padding-right: 3em;
    top: 0; 
    right: 0; 
    display: flex; 
    gap: 0.3em;           
}

.card__nome_link{
    text-decoration: none;    
    font-family: 'Nexa';
    padding: 0.3em;    
    color: var(--cor-fonte-main);
    
}
.card__nome_link:hover{
    background: var(--cor-main);  
    
    border-radius: 4px;
}

.container__menu {
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5.5em;
    /*border: 2px solid rgb(0, 4, 255);*/
}

.logo__imagem {       
    /*border: 2px solid rgb(0, 255, 55);*/
    width: 80px;
    padding-bottom: 2em;
    
}

.menu__bar {
    display: flex; 
    justify-content: center;
    align-items: center;  
    margin-left: 1.5em;  
    gap: 1em;     
    /*border: 2px solid red;*/    
}



.item__menu {      
    font-family: var(--ff-titulo);
    font-weight: var(--fw-titulo);
    font-size: var(--fs-header);
}

.opcoes__link {
   
    color: var(--cor-fonte-main) ;
    text-decoration: none;
    padding: 0.5em 1em;
}


@media screen and (max-width: 768px) {
    .card__nome {
        margin-left: 7em;
        
        
    }
}
