.secao__sobre {
    display: flex;
    flex-direction: column;
    width: 50%;  
    margin: 0 auto;
      
    /*margin: 0 25% 0;
    /*border: 2px solid rgb(0, 255, 55);*/
        
}

.titulo__sobre {
    display: flex;
    justify-content: center;
    font-family: var(--ff-titulo);
    font-weight: var(--fw-titulo);
    font-size: var(--fs-titulo);
    margin: 4em 0 1em 0;
}

.texto__sobre {
    display: flex;
    justify-content:center;       
    font-family: var(--ff-texto);
    font-weight: var(--fw-texto);
    font-size: var(--fs-texto);
    margin: 0.5em; 
        
   
}

.ancora {
    
    margin: 0 0.4em;
    text-decoration: none;     
    color: var(--cor-fonte-main);
    font-weight: var(--fw-titulo);
    font-style: italic; 
}

.ancora:hover {
    color: var(--cor-main);
    transition: all 0.4s;
}

@media screen and (max-width: 768px) {
    .secao__sobre {
        width: 90%;
        display: flex;
             
        
    }

    .ancora {
        margin: -0.5em 1px; 
        outline: none;  
        -webkit-tap-highlight-color: transparent; 
        
        
    }

    .subtexto{
        padding-left: 0%;
    }
}

